body
  background: #EEEEEE
  height: 100%
  border: none

header, section, nav
  display: block

#container
  overflow: hidden 

header
  padding: 10px 0 0 30px
  h1
    font: bold 120px / 120px "Mido", "Helvetica", "Verdana", sans-serif
    text-align: left 
    text-transform: lowercase
    text-shadow: 0px 2px 2px #FFF
    a
      color: #b23755
      text-decoration: none
  nav
    //margin: 10px 5px
    display: none
    ul
      overflow: hidden
      margin: 0
      list-style: none
    li
      float: left
      padding: 3px 5px

section#content
  clear: both
  //h2
  //  font-size: 25px
  //  text-decoration: underline
  //  margin: 40px 0px 20px
  //  color: #778
  //h3
  //  margin: 0
  //  padding: 0 
  //  border: 0
  //  font-variant: normal
  h1
    font-style: normal
    font-family: Georgia, serif
    a, &.title
      text-decoration: none
      line-height: 100px
      font-size: 100px
      color: #000
      &:hover
        color: #777
    span.date
      display: block
      font-size: 40px
  section
    padding: 40px 0
    margin: 0 20px
    border-top: 3px solid #DDD
    border-bottom: 3px solid #F7F7F7
    text-shadow: 1px 1px 1px #FFF
    font-size: 20px
    font-family: Georgia, serif
    color: #949494

