%section#content{:class=>"grid_8 push_4 omega about"} 
  %p My name is Emerson Vinicius, I am a 18-year-old.
  %p Currently I'm Web Developer at #{link_to("Gonow Tecnologia","http://gonow.com.br")}.
  %p I have interest in programming in Ruby, I program in some other languages like PHP, Python and Javascrip
  %p You can see my open source projects in Github.
  %p Let's talk about technology.
