%section#content{:class=>"grid_8 omega article"}
  %h1.title
    Como e chato fazer massa de testes
  %article
    = article_body(@article)

  %div#disqus_thread
  :javascript
    var disqus_developer = 1;
    var disqus_identifier = "#{@article.id}";
  %script{:async => "true", :src => "http://emersonvinicius.disqus.com/embed.js"}
