%section#content.grid_8.push_4.omega
  - for @article in @articles
    %section.article{:id => @article.id}
      %h1
        %a{:href => article_path(@article)}= @article.title
        %span.date
          =@article.published.strftime("%Y/%m/%d")
      - if @article == @articles[0]
        %article
          = @article.resume
